{% extends 'base.html.twig' %}

{% block title %} A propos{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-5">A propos</h1>
        <h2>Que faire si on me demande de payer en dehors du site web vlap ?</h2> 

<p>N'envoyez pas d'argent et informez-nous immédiatement. Nous ne vous demanderons jamais de payer quoi que ce soit en dehors du site, par e-mail ou par l'intermédiaire d'un tiers.

Il arrive quelques fois que les voyageurs payent des taxes locales à leurs hôtes, mais cela doit être fait via la plate-forme vlap, et dans de nombreux cas ces taxes sont comprises dans le prix de la réservation. En savoir plus.

Si vous avez payé votre réservation hors du site vlap (par virement ou transfert bancaire par exemple), vous avez peut-être payé pour une réservation frauduleuse. Pour obtenir de l'aide, contactez-nous immédiatement.

Si vous avez un doute, vérifiez que votre réservation a bien été effectuée via vlap.
Signalez les demandes de paiements en dehors du site

Si un hôte vlap vous demande sur le site vlap de payer en dehors du site ou via une autre société, signalez-le-nous.

Vous ne devriez pas recevoir de facture papier ou PDF de la part d'un hôte ni d'vlap vous demandant de payer. Si un hôte utilise l'un de ces mots-clés dans ses messages, signalez-le nous immédiatement : Western Union, MoneyGram, chèque de caisse, mandat postal, Liberty Reserve.
</p>
<h6>Pour signaler un message</h6>
<ul>
    <li>Accédez à vos messages sur vlap.com, puis cliquez sur la conversation contenant le message suspect.</li>
    <li>Dans le message, cliquez sur l'icône en forme de drapeau .</li>
    <li>Sélectionnez la raison pour laquelle vous signalez cette personne, puis cliquez sur Suivant.</li>
    <li>Si vous souhaitez également bloquer toute communication avec cette personne, cliquez sur Oui, bloquer cet utilisateur. </li>
</ul>


    

<h2>Pour signaler un e-mail</h2>
<p>
Si vous recevez un e-mail de quiconque (y compris d'une adresse e-mail de type automated@vlap.com ou username@vlap.com) vous demandant de payer ou d'accepter un paiement en dehors du site, contactez-nous immédiatement.
Types d'escroqueries

Ne partagez jamais votre adresse e-mail avant la confirmation d'une réservation et ne transférez pas d'argent en dehors de la plate-forme vlap. Vérifiez toujours attentivement les e-mails prétendant venir d'vlap.
</p>

<h6>Parmi les exemples communs d'escroquerie, on trouve :</h6>

    <li>Escroquerie de l'acompte : quelqu'un propose de l'argent ou une autre chose en échange d'un transfert d'argent via un service de paiement en dehors d'vlap.</li>
    <li>Hameçonnage (ou « phishing ») : quelqu'un vous envoie un e-mail ou un lien ayant l'air de venir d'vlap ou d'un autre site de confiance. Ces messages ont pour but de vous inciter à fournir des informations confidentielles, comme des mots de passe ou d'autres adresses e-mail, et ils peuvent contenir des malwares qui sont des logiciels malveillants qui accèdent à votre ordinateur pour rassembler vos informations personnelles, notamment des mots de passe.</li>
    <li>Escroquerie liée aux voyages : quelqu'un vous fait une offre de location de logement très intéressante si vous payez ou si vous versez un acompte par virement bancaire. Une fois l'argent récupéré, le logement en question n'est pas disponible.</li>
    <li>Escroquerie du trop-perçu : quelqu'un propose à l'hôte plus d'argent que ce que le logement vaut et lui demande ensuite de rembourser la différence en liquide.</li>
    <li>Escroquerie de paiement par un tiers : quelqu'un propose de réserver et payer un logement vlap par l'intermédiaire de son site ou d'un service tiers, souvent en prétendant pouvoir vous faire bénéficier d'un coupon vlap ou d'une réduction. Ces réservations sont généralement faites via des cartes de crédit volées. </li>

<h5>Remarque : toute réservation faite en dehors du site vlap n'est pas conforme à nos Conditions générales. Si nous constatons qu'une réservation a été faite via un service tiers, nous pouvons l'annuler et désactiver les comptes des hôtes et voyageurs concernés.</h5>
</div>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit nesciunt assumenda id esse deleniti a earum labore, corrupti hic accusantium recusandae voluptatum ex consequatur? Assumenda tempore quis aliquam modi pariatur!</p>
{% endblock %}
